@charset "UTF-8";

/* Para declarar variáveis CSS3 precisamos utilizar o :root */
:root {
    --vermelho: #E50919;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* Banner */
.banner {    
    font-size: 16px;
    /* Cria overlay sobre imagem de fundo */
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../../assets/img/marley-e-eu/capa-1920x1080.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner .title {
    font-size: 60px;
}

.banner .synopsis {
    margin-bottom: 80px;
}